.search {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 770px;
  height: 72px;
  padding: 10px 10px 10px 24px;
  margin-bottom: 30px;
  border-radius: 15px;

  background: var(--background-section);
}

.search__icon {
  margin-right: 20px;
}

.search__input {
  all: unset;

  width: 480px;
  margin-right: 26px;

  font-size: 16px;

  color: var(--text);
}

.search__input::placeholder {
  letter-spacing: -0.5px;

  color: var(--text);
}

.search__btn {
  all: unset;

  height: 51px;
  width: 115px;
  border-radius: 10px;

  text-align: center;
  font-size: 14px;
  font-weight: 700;

  color: white;
  background-color: var(--btn);
}

.search__btn:hover {
  background: var(--btn-hover);
}
