.main {
  display: flex;
  align-items: flex-start;

  width: 700px;
  padding: 38px;
  border-radius: 15px;

  background: var(--background-section);
}

.main__avatar {
  width: 150px;
  margin-right: 30px;
  border-radius: 50%;
}

.main__content {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.main__top {
  display: flex;
  justify-content: space-between;

  margin-bottom: 28px;
}

.main__bio {
  margin-bottom: 50px;
}
