:root {
  --background-page: #f6f8ff;
  --background-section: #fefefe;
  --text: #4b6a9b;
  --btn: #0079ff;
  --btn-hover: #60abff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  padding-top: 74px;

  font-family: "Space Mono", monospace;

  background: var(--background-page);
}
