.data {
  display: flex;
  gap: 72px;

  padding: 28px;
  border-radius: 15px;
  margin-bottom: 30px;

  background: #f5f7ff;
}

.data__repos {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.data__followers {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.data__following {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
